/* <--------NAVIGATION SECTION-------> */

.nav_section ul{
    list-style-type: none;
    height: 100%;
    font-size: 16px;
    display:flex;
    margin: 0px;
    padding: 0px;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: 1200;
    text-decoration: none;
    color: black;
    align-items: center;
    width: 40%;
    justify-content: space-evenly;
    
}
.nav_section li{
    text-decoration: none;
    cursor: pointer;
    font-size: 32px;
    font-stretch: semi-expanded;
    transition: 0.5s;
    margin-inline: 30px;
}
.nav_section{
    z-index: 99;
    margin: 0px;
    padding: 0px;
    top: 0px;
    display: flex;
    position: -webkit-sticky;
    position: sticky;
    width:100%;
    background: rgba(232, 248, 253, 0.986);
    transition: 0.1s;
    opacity: 0.9;
}
/* .navbox{
    position: 
    background-color:rgba(232, 248, 253, 0.986);
    height: 100%;
    width: 100%;
    opacity: 95%;
    z-index: -2;
} */
li a:hover{
    font-size: 40px;
}
li a:link,a:visited{
    color: black;
    text-decoration: none;
}
.logo{
    width: 199px;
}
.logo img{
    height: 100%;
    position: initial;
}

